nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-right: 1.5em;
  padding-left: 1.5em;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.newTweet {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Source Sans Pro', sans-serif;
}
 
.newTweet p {
  margin-bottom: 0px;
}

.arrow {
  align-self: center;
  color: red;
  animation: bounce 1.5s infinite ease-in-out;
}

nav span {
  font-family: 'Bungee', cursive;
  font-size: 36px;
}

.newTweet:hover {
  cursor: pointer;
}

/* .arrow:hover {
  animation-name: bounce;
  -moz-animation-name: bounce;
} */

@keyframes bounce {
	50% {transform: translateY(40%)}
  100% {transform: translateY(0%)}
}

@media only screen and (max-width: 1023px){
  nav {
  background-color: transparent;
  background-image: none
}
}
