.tweets-container {
  /* display: flex; */
  width: 100%;
  margin-top: 30px;
}

.tweets-header {
 display: flex;
  font-style: 'Source Sans Pro', sans-serif;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.tweet {
  width: 100%;
  border: 3px solid black;
padding: 15px;
margin: 24px 0px;
}

.username{
  color: #4057a166;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet:hover {
  box-shadow: 8px 8px 2px #c8c8c8;
}


.tweet img {
  margin-right: 10px;
  font-style: 'Source Sans Pro', sans-serif;
  width: 40px;
  height: 40px;
}

.tweets-footer {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  border-top: 3px solid black;
  width: 100%;
}
.tweets-footer i {
  font-size: 12px;
  color: #4056A1;
}
.tweets-footer i:hover {
color: #c79500;
}